<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened
      fixedInViewport="true" fixedTopGap="64">
      <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="/">
              <i class="material-icons">
                  home
              </i>
              Início
          </a>
          <a mat-list-item  routerLink="/produtos">
              <i class="material-icons">
                  storefront
              </i>
              Produtos
          </a>
          <a mat-list-item  routerLink="/clientes">
            <i class="material-icons">
                people
            </i>
            Clientes
        </a>
        <a mat-list-item  routerLink="/vendas">
          <i class="material-icons">
              store
          </i>
          Venda
      </a>
      <a mat-list-item  routerLink="/relatorios">
        <i class="material-icons">
            assignment
        </i>
        Relatório
    </a>
      </mat-nav-list>
      <a>
        <i class="footer">
            Versão 1.0.9
        </i>
      </a>
  </mat-sidenav>
  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
